html, body {
	height: 95%;
}

#container {
	height: 100%;
	width: 98%;
	margin: auto;
	margin-top: 2.5%;
}

#map {
	width: 50%;
	height: 100%;
	display: inline-block;
	margin: 0;
}

#divider {
	width: 2%;
	display: inline-block;
}

#content {
	height: 100%;
	width: 49%;
	overflow-y: scroll;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#grid-container {
	padding-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
	display: grid;
	grid-template-columns: 180px 120px repeat(3, auto);
		grid-template-rows: repeat(2, 50px) auto 3px auto;
	grid-template-areas:
		'name name name name camera'
		'category category category category category'
		'type units price price price'
		'divider divider divider divider divider'
		'notes notes notes notes notes';
	grid-gap: 5px;
}

#grid-container div {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

#content-name {
	grid-area: name;
}

#content-camera {
	grid-area: camera;
	visibility: hidden;
}

#content-camera img {
	float: right;
}

#content-camera img:hover {
	cursor: pointer;
}

#content-category {
	grid-area: category
	visibility: hidden;
}

#content-category h3 {
	color: #f39c12;
	visibility: hidden;
}

#content-type {
	grid-area: type;
	visibility: hidden;
}

#content-units {
	grid-area: units;
	visibility: hidden;
}

#content-price {
	grid-area: price;
	visibility: hidden;
}

#content-divider {
	grid-area: divider;
	background-color: #555;
}

#content-notes {
	grid-area: notes;
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	/*background: rgba(255,255,255,0.8);*/
	box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px;
}

.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}

.legend i {
	width: 35px;
	height: 35px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
	border: solid white 2px;
}

#car_plot {
	/*height: 300px;*/
	width: 90%;
	height: 'whatever';
}

img.content-img {
	width: 50%;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#gallery div.caption {
	font-style: italic;
	font-size: 14px;
	text-align: center;
}

#gallery {
	position: absolute;
	display: none;
	background-color: rgba(255, 255, 255, 0.95);
	width: 97%;
	height: 97%;
	left:0;
	right:0;
	top: 0;
	bottom: 0;
	margin:auto;
	z-index: 999999999;
	overflow-y: scroll;
	font-family: 'Open Sans', sans-serif;
}
#gallery #gallery-button {
	position: fixed;
	width: 50px;
	height: 50px;
	/*background-color: rgba(100,100,100, 1);*/
	top: 10%;
	right: 10%;
}

#gallery #gallery-button:hover {
	cursor: pointer;
}